In [1]:
import pandas as pd

In [4]:
temp0 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/01/prcp-200601-ste-scaled.csv", header=None)
temp1 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/02/prcp-200602-ste-scaled.csv", header=None) 
temp2 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/03/prcp-200603-ste-scaled.csv", header=None) 
temp3 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/04/prcp-200604-ste-scaled.csv", header=None) 
temp4 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/05/prcp-200605-ste-scaled.csv", header=None) 
temp5 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/06/prcp-200606-ste-scaled.csv", header=None) 
temp6 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/07/prcp-200607-ste-scaled.csv", header=None) 
temp7 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/08/prcp-200608-ste-scaled.csv", header=None) 
temp8 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/09/prcp-200609-ste-scaled.csv", header=None) 
temp9 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/10/prcp-200610-ste-scaled.csv", header=None) 
temp10 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/11/prcp-200611-ste-scaled.csv", header=None)
temp11 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/12/prcp-200612-ste-scaled.csv", header=None)

In [5]:
temp0.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,ste,1,Alabama,2006,1,PRCP,0.01,10.32,1.60,0.00,...,3.64,19.66,5.52,0.00,0.00,0.00,0.00,15.30,1.00,1.92
1,ste,2,Arizona,2006,1,PRCP,0.06,0.10,0.25,0.00,...,0.00,0.00,0.00,0.76,1.44,0.00,0.04,0.00,0.00,0.00
2,ste,3,Arkansas,2006,1,PRCP,0.00,0.03,0.00,0.00,...,13.34,34.89,0.00,0.00,0.00,0.00,0.86,23.18,0.01,0.00
3,ste,4,California,2006,1,PRCP,13.62,24.53,14.31,3.87,...,0.01,0.01,0.01,0.00,1.06,2.27,2.74,4.60,2.58,4.59
4,ste,5,Colorado,2006,1,PRCP,2.35,1.73,1.16,0.41,...,0.03,0.01,0.26,0.31,2.21,0.36,0.82,1.26,0.88,0.56

In [6]:
temp0.drop(temp0.columns[0:6], axis=1, inplace=True)
temp1.drop(temp1.columns[0:6], axis=1, inplace=True)
temp2.drop(temp2.columns[0:6], axis=1, inplace=True)
temp3.drop(temp3.columns[0:6], axis=1, inplace=True)
temp4.drop(temp4.columns[0:6], axis=1, inplace=True)
temp5.drop(temp5.columns[0:6], axis=1, inplace=True)
temp6.drop(temp6.columns[0:6], axis=1, inplace=True)
temp7.drop(temp7.columns[0:6], axis=1, inplace=True)
temp8.drop(temp8.columns[0:6], axis=1, inplace=True)
temp9.drop(temp9.columns[0:6], axis=1, inplace=True)
temp10.drop(temp10.columns[0:6], axis=1, inplace=True)
temp11.drop(temp11.columns[0:6], axis=1, inplace=True)

In [7]:
temp0 = temp0.transpose()
temp1 = temp1.transpose()  
temp2 = temp2.transpose()  
temp3 = temp3.transpose()  
temp4 = temp4.transpose()  
temp5 = temp5.transpose()  
temp6 = temp6.transpose()  
temp7 = temp7.transpose()  
temp8 = temp8.transpose()  
temp9 = temp9.transpose()  
temp10 = temp10.transpose()
temp11 = temp11.transpose()

(31, 48)